  <!-- FOOTER   -->
  <footer id="footer" class="text-body-secondary py-3 dark-text">
    <div class="logo dark-text">
        <a href="https://github.com/ArmaanSeth" style="text-decoration: none; color: #2e4f4f;"><i class="fa-lg fa-brands fa-github" s></i><p class="logo-title" style="text-decoration: none">-GitHub</p></a>
        <a href="https://www.linkedin.com/in/armaan-seth-297195220" style="text-decoration: none; color: #2e4f4f;"><i class="fa-lg fa-brands fa-linkedin" ></i><p class="logo-title">-Linkedin</p></a>
        <a href="mailto:seth.armaanseth@gmail.com" style="text-decoration: none; color: #2e4f4f;"><i class="fa-lg fa-sharp fa-solid fa-envelope" ></i><p class="logo-title">-Gmail</p></a>
    </div>
  </footer>

    
  </body>
</html>
