<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FarmAid</title>
  <link rel="icon" href="images/icon.ico">
  
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/0c8a42cb65.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- NAVBAR -->
  
  <header class="dark-text">
    <div class="collapse" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4 ">
            <h4>About</h4>
            <p>Farm Aid is a website that utilizes various machine learning models to aid farmers in their harvesting process. This website provides valuable information to farmers regarding which crop to grow, which fertilizer to use, and what diseases the crops may have.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <a href="#footer" class="dark-text"><h4 >Contact</h4></a>
            <ul class="list-unstyled">
              <li><a href="https://github.com/ArmaanSeth" style="text-decoration: none; color: #2e4f4f;">Follow on GitHUb</a></li>
              <li><a href="https://www.linkedin.com/in/armaan-seth-297195220" style="text-decoration: none; color: #2e4f4f;">Connect on Linkedin</a></li>
              <li><a href="mailto:seth.armaanseth@gmail.com" style="text-decoration: none; color: #2e4f4f;">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar shadow-sm dark-text">
      <div class="container">
        <a href="/" class="d-flex align-items-center dark-text">
          <i class="fa-sharp fa-solid fa-leaf icon"></i>
          <strong  class="title-name">Farm Aid</strong>
        </a>
        <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
  <!-- <header data-bs-theme="dark-text">
    <div class="collapse" id="navbarHeader">
      <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4 ">
                <h4>About</h4>
                <p>Farm Aid is a website that utilizes various machine learning models to aid farmers in their harvesting process. This website provides valuable information to farmers regarding which crop to grow, which fertilizer to use, and what diseases the crops may have.</p>
            </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4>Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Follow on GitHUb</a></li>
              <li><a href="#" class="text-white">Connect on Linkedin</a></li>
              <li><a href="#" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar shadow-sm dark-text">
      <div class="container">
        <a href="/" class="navbar-brand d-flex align-items-center dark-text">
          <i class="fa-sharp fa-solid fa-leaf icon"></i>
          <strong  class="title-name">Farm Aid</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header> -->

